h1 {
    color: white;
    border-style: double;
    border-color:whitesmoke;
    padding: 20px;
}
body{
    background-color: blueviolet;

}
#no1 {
    color: white
}
#no2 {
color: white
}
